<!doctype html>
<html lang="en">
<head>

    <title>Books</title>
</head>
<body>
<h2>This is books main page</h2>
<h4>
    <a href="all_books/">Information about all books in library</a>
</h4>

<h4>
    <a href="unordered_book/">List of unordered books</a>
</h4>
<h4>
    <a href="show_by_id/">Show book by id</a>
</h4>
<h4>
    <a href="show_book_by_user_id/"> Show book by user id</a>
</h4>
<h4>
    <a href="show_book_by_author/"> Show book by authors id </a>
</h4>
<h4>
    <a href="/"> Main page </a>
</h4>
</body>

</html>

