<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show by id</title>
</head>
<body>

 <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search for book id</button>
      </form>
{{myFilter.form}}

 {% for book in show_id %}
<h3>Book: {{ book.name}}</h3>
</body>
{% endfor %}
<a href="/book/"> Back to book main page</a>
</html>